<article class="flex flex-col h-auto overflow-x-auto text-pretty gap-2 text-white/80">

    <div class="flex items-center gap-6 justify-between p-2 md:mr-12 md:ml-12 lg:mr-20 lg:ml-0">
        <p>- Curso de HTML5 desde cero: El más completo en Español</p>
        <a
            class="w-28"
            href="https://www.udemy.com/certificate/UC-933ca2f0-b65f-4584-b399-4628a313fb5c/?utm_source=sendgrid.com&utm_medium=email&utm_campaign=email"
        >
            <img
                src="/assets/formacion-img/2544807_f6c0_2.jpg"
                alt="Curso de HTML5"
            />
        </a>
    </div>
    <div class="flex items-center gap-6 justify-between p-2 md:mr-12 md:ml-12 lg:mr-20 lg:ml-0">
        <p>- Master en CSS: Responsive, SASS, Flexbox, Grid y Bootstrap</p>
        <a
            class="w-28"
            href="https://www.udemy.com/certificate/UC-f0cfdce2-d7eb-47a8-bb08-48a8b2f69fc2/?utm_campaign=email&utm_source=sendgrid.com&utm_medium=email"
        >
            <img
                src="/assets/formacion-img/master_css.jpg"
                alt="Master en CSS"
            />
        </a>
    </div>
    <div class="flex items-center gap-6 justify-between p-2 md:mr-12 md:ml-12 lg:mr-20 lg:ml-0">
        <p>- Master en JavaScript: Aprender JS, jQuery, Angular, NodeJS</p>
        <a
            class="w-28"
            href="https://www.udemy.com/certificate/UC-59ed439e-fbaa-485c-82a0-c2c1e9418db3/?utm_source=sendgrid.com&utm_medium=email&utm_campaign=email"
        >
            <img
                src="/assets/formacion-img/master_javaScript.jpg"
                alt="Master en JavaScript"
            />
        </a>
    </div>
    <div class="flex items-center gap-6 justify-between p-2 md:mr-12 md:ml-12 lg:mr-20 lg:ml-0">
        <p>- Master en TypeScript, JavaScript Moderno, ES2024, APIs HTML5</p>
        <a
            class="w-28"
            href="https://www.udemy.com/certificate/UC-5600aea9-a5d6-4860-8284-9dfe751eb5b2/?utm_source=sendgrid.com&utm_medium=email&utm_campaign=email"
        >
            <img
                src="/assets/formacion-img/master_typeS.jpg"
                alt="Master en TypeScript"
            />
        </a>
    </div>
    <div class="flex items-center gap-6 justify-between p-2 md:mr-12 md:ml-12 lg:mr-20 lg:ml-0">
        <p>- Master en Lógica de Programación: Pruebas Técnicas de Código</p>
        <a
            class="w-28"
            href="https://www.udemy.com/certificate/UC-d4d6024d-ecb6-4798-a585-d325a1c64c01/?utm_campaign=email&utm_medium=email&utm_source=sendgrid.com"
        >
            <img
                src="/assets/formacion-img/master_pruebas1.jpg"
                alt="Master en Lógica"
            />
        </a>
    </div>
    <div class="flex items-center gap-6 justify-between p-2 md:mr-12 md:ml-12 lg:mr-20 lg:ml-0">
        <p>- Master en PHP, SQL, POO, MVC, Laravel, Symfony, WordPress +</p>
        <a
            class="w-28"
            href="https://www.udemy.com/certificate/UC-409f75ef-8ec4-48ab-9266-1f2082435cfd/?utm_campaign=email&utm_medium=email&utm_source=sendgrid.com"
        >
            <img
                src="/assets/formacion-img/master_php.jpg"
                alt="Master en PHP, SQL"
            />
        </a>
    </div>

    <div class="flex items-center gap-6 justify-between p-2 md:mr-12 md:ml-12 lg:mr-20 lg:ml-0">
        <p>- Master en webs Full Stack: Angular, Node, Laravel, Symfony +</p>
        <a
            class="w-28"
            href="https://www.udemy.com/certificate/UC-409f75ef-8ec4-48ab-9266-1f2082435cfd/?utm_campaign=email&utm_medium=email&utm_source=sendgrid.com"
        >
            <img
                src="/assets/formacion-img/full-stack.jpg"
                alt="Master Full Stack"
            />
        </a>
    </div>

    <div class="flex items-center gap-6 justify-between p-2 md:mr-12 md:ml-12 lg:mr-20 lg:ml-0">
        <p>- Curso de GIT y GITHUB desde CERO en Youtube 'MoureDev'</p>
        <a
            class="w-28"
            href="https://www.youtube.com/watch?v=3GymExBkKjE&t=12074s">
            <img
                src="/assets/formacion-img/curso-git.jpg"
                alt="Master en CSS"
            />
        </a>
    </div>
</article>
